footer {
  display: inline-flex;
  margin-bottom: 62px;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
  padding: 0 52px;

  @media screen and (max-width: 560px) {
    row-gap: 32px;
    flex-wrap: wrap;
  }

  .first-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .main-logo {
      margin-left: 0;
      filter: contrast(1.15);
    }

    .description {
      font-size: 18px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.5);
      width: 266px;
      margin-top: 26px;
      margin-bottom: 31px;
    }

    .media-icons {
      display: inline-flex;
      align-content: center;

      button {
        display: block;
        margin-left: 0;
        margin-right: 13px;
        &:hover {
          background-color: transparent;
          svg {
            fill: rgb(140, 14, 14);
            transition: all 0.15s ease-in-out;
          }
        }
      }
    }
  }

  .footer-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 95px;
    row-gap: 30px;
    
    @media screen and (max-width: 920px) {
      justify-content: flex-start;
    }

    .mail-input {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 220px;
      height: 60px;

      img {
        width: 24px;
        height: 24px;
        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
        }
        &:active {
          transform: translateY(-2px);
        }
      }

      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        width: 120px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        border: none;
        border-style: none;
        outline: none;
      }
    }

    .section-block {
      height: 231px;

      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
      }

      li,
      a {
        display: block;
        font-size: 18px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;

        &:not(:first-child) {
          margin-top: 15px;
        }
      }
      li {
        &:first-of-type {
          margin-top: 36px;
        }
      }
    }
  }
}