.header-burger-modal {
  .menu {
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: 2rem;
    
    .header-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 1.5rem;
      width: 100%;

      li {
        list-style-type: none;

        a {
          color: #131313;
          font-size: 24px;
          line-height: 28.13px;
          text-decoration: none;
          padding: 1.25rem;

          &.active {
            color: #df1616;
          }

          &:hover {
            filter: contrast(0.75);
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }
}
