.screen-loading-page {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;

    .title {
      font-size: 26px;
      font-weight: bold;
      color: #242424;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
